h1 {
  margin-left: 15rem;
}
.questions {
  margin-left: 10rem;
  margin-top: 3rem;
}

.profile {
  width: 150px;
  height: 150px;
  border-radius: 500%;
  float: left;

  margin-left: 5rem;
  margin-right: 2rem;
}

.p-1 {
  width: 50rem;
  margin-top: 3rem;
  margin-left: 1rem;
  line-height: 1.5;
  text-align: center;
}

.p-2,
.p-3,
.p-4,
.p-5 {
  margin-left: 10rem;
  line-height: 1.5;
}
